<!-- <div class="users-list" *ngIf="users?.length; else noUsers">
  <ul>
    <li *ngFor="let user of users">
      {{ user.id }} {{ user.name }} {{ user.email }}  
      <button (click)="getUserById(user.id)">Get</button>
      <button (click)="editUser(user)">Edit</button>
      <button (click)="deleteUser(user.id)">Delete</button>
    </li>
  </ul>
</div>
<ng-template #noUsers>
  <p>No users found.</p>
</ng-template>

<button (click)="showUserAddForm = true">Create</button>

<div *ngIf="showUserAddForm">
  <h3>Add New User</h3>
  <form (ngSubmit)="addUser()">
    <label for="name">Name:</label>
    <input id="name" [(ngModel)]="newUser.name" name="name" required />

    <label for="email">Email:</label>
    <input id="email" [(ngModel)]="newUser.email" name="email" required />

    <button type="submit">Add User</button>
    <button type="button" (click)="clearNewUser(); showUserAddForm = false">Cancel</button>
  </form>
</div>

<div *ngIf="showUserEditForm && editingUser">
  <h3>Edit User</h3>
  <form (ngSubmit)="updateUser(editingUser!)">
    <label for="edit-name">Name:</label>
    <input id="edit-name" [(ngModel)]="editingUser.name" name="edit-name" required />

    <label for="edit-email">Email:</label>
    <input id="edit-email" [(ngModel)]="editingUser.email" name="edit-email" required />

    <button type="submit">Update User</button>
    <button type="button" (click)="showUserEditForm = false; editingUser = null">Cancel</button>
  </form>

</div> -->